@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --white-100: #ffffff;
  --white-200: #e3e7ec;

  --blue-200: #1c2434;
  --blue-100: #212b36;

  --gray-200: #333a48;
  --gray-100: #637381;

  --foreground-dark-gray: #8a99af;

  --radius: 0.625rem;
}

@theme inline {
  --breakpoint-smartphone: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;

  --color-sidebar: oklch(98.4% 0.003 247.858);
  --color-foreground-sidebar: oklch(12.9% 0.042 264.695);

  --color-form: oklch(98.4% 0.003 247.858);

  --color-app: oklch(86.9% 0.022 252.894);

  --color-button: oklch(12.9% 0.042 264.695);
  --color-button-text: oklch(98.4% 0.003 247.858);

  --color-text: oklch(12.9% 0.042 264.695);

  --color-white-100: var(--white-100);
  --color-white-200: var(--white-200);

  --color-input-border: oklch(92.9% 0.013 255.508);

  --color-background-dark: var(--background-dark);

  --color-header-light: var(--header-light);

  --color-blue-200: var(--blue-200);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

.dark {
  --background-dark: #171717;
}

@layer base {
  * {
    @apply m-0 p-0;
  }
  body {
    @apply bg-app min-h-screen w-full;
  }
}
